.message-container {
  padding: 25px;
}

.message-title {
  text-align: center;
}

.message-box {
  margin: 50px auto;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 25rem;
}
