.home-container {
  padding: 150px;
}

.home-title {
  text-align: center;
}

.home-info {
  text-align: center;
  padding: 60px;
}

.view-messages-div {
  text-align: center;
}

.view-messages-btn {
  padding: 20px;
  cursor: pointer;
}
