.messages-container {
  padding: 25px;
}

.messages-title {
  text-align: center;
}

.messages-ul {
  list-style-type: none;
  text-align: center;
  padding: 25px;
}

.message-li {
  display: flex;
  align-items: center;
  justify-content: center;
}
